<h1>UltraBook - Posts da Ultravisao | <%= @posts.count %></h1>


<%= link_to 'New Post', new_post_path ,class: "button" %>


    <% @posts.each do |post| %>
    <hr>
    <div class="row">
      <div class="columns large-9 medium-6">
      <blockquote>
        <strong><%= post.content %></strong> <br>
             <cite><%= post.user.name %> | <%= post.user.email %> </cite>

        <em><%= time_ago_in_words(post.created_at) %> ago</em>
      </blockquote>
      </div>
      <div class="columns large-3 medium-6">
        <ul class="inline-list">
          <li><%= link_to 'Show', post %></li>
          <li><%= link_to 'Edit', edit_post_path(post) %></li>
          <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    
    <% end %>


<br>
