<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">MicroPost</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
  
    <section class="top-bar-section">
      
        </li>
      </ul>
  
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    </section>
  </nav>

  <div class="row">
  <div class="columns large-12">

  <% flash.each do |type, message| %>
  <div data-alert class="alert-box success radius <%= flash_class type %>">
      <%= message %>
     <a href="#" class="close">&times;</a>
  </div>
  <% end %>



<!-- 
<% flash.each do |type,message| %>
<div class="alert flash<%= type %>">
  <%= message %>
</div>
<% end %> -->


  





    <%= yield %>


</div>
</div>

    <%= javascript_include_tag "application" %>

  
  </body>
</html>